In [4]:
from numpy import *
import numpy as np
import scipy
import scipy.stats as stats
import matplotlib.pyplot as plt
import pandas as pd

In [88]:
sequences = pd.read_csv('truck_sequences.csv')
del sequences['Unnamed: 0']
sequences = sequences.transpose()

In [89]:
orders = pd.read_csv('truck_orders.csv')
orders = orders.transpose()

Here are 1000 orders where each order is a random number between 0 and 5 for each truck type

In [28]:
orders.head(5)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
1,4,4,3,3,4,4,4,0,2,4,...,4,5,3,2,2,0,1,2,1,0
2,2,3,5,4,3,1,4,0,2,5,...,1,0,4,3,4,3,1,1,2,3
3,5,2,2,5,4,3,3,1,3,1,...,0,4,1,4,2,1,5,3,2,2
4,0,1,2,0,4,0,4,2,1,1,...,3,0,2,0,4,1,1,1,2,0
5,0,1,2,5,2,4,3,0,2,3,...,5,5,4,4,2,5,4,3,2,5

And here are randomly generated sequences for each order. There are a good amount of NaNs right now since the sequences vary a lot in length.

In [29]:
sequences.head(5)

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
1,M,J,O,K,K,A,A,C,J,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,S,D,U,C,G,O,O,J,K,S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,W,A,G,I,R,A,D,Y,J,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q,H,H,B,L,S,E,U,U,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,U,P,D,T,B,R,S,V,C,S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Let's concatenate the orders & sequences, which will be our full set of training data.

In [84]:
training_data = pd.concat([orders,sequences],axis=1)
training_data.columns = np.arange(118)

We will consider the first 100 sequences as 'good'.

In [85]:
labels = pd.DataFrame(np.zeros(len(sequences)))
labels.loc[0:99] = 1
labels.columns = ['label']

training_data['labels'] = labels.values

We now have a sample of 1000 order - sequence combinations, with 100 labeled as 'good'

In [86]:
training_data.head()

,0,1,2,3,4,5,6,7,8,9,...,109,110,111,112,113,114,115,116,117,labels
1,4,4,3,3,4,4,4,0,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,2,3,5,4,3,1,4,0,2,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,5,2,2,5,4,3,3,1,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,0,1,2,0,4,0,4,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5,0,1,2,5,2,4,3,0,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

^ The above represents our full training data of 1,000 order-sequence samples. 100 are labeled as 'good' being 1. 

The first 26 columns represent the order profile - the quantities of each truck model (A-Z).
The next 92 columns represent all possible sequence values. This is 92 columns because that was the length of the longest sequence (largest order) randomly generated. The final column is our label of whether the order-sequence combo was 'good' or not.

The next steps here would probably be dependent on the model we want to try. Computing n-gram metrics would be useful for a SVM classifier. Establishing a distance metric would be useful for a KNN classifier. Using PCA would be useful to esablish a smaller finite set of features to use in a Random Forest classifier. All of these have the goal of classifying (with probabilities of being 'good') all possible sequence-order combinations for a new order.